button{
    background-color: rgb(17, 17, 17);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;}
h1{
    font-size: 48px;}

