button{
    background-color: rgb(61, 60, 60);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    align-items: center;}