body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    background-color: rgb(240, 233, 223);
}
.cuerpo{
    background-color: white;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 50px;

}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
h1{
    font-size: 50px;
}
main{
    margin-top: 40px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}
img{
    width: 1000px;
    height: 600px;
}
button{
    background-color: rgb(5, 5, 5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(80, 80, 80);
}
P{
    color: rgb(85, 85, 85);
}
.derecha{
    margin-top: 60px;
}