body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(243, 222, 197);
}
main{
    height: 1200px;
    width: 1640px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: white;
}
.arriba{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.arriba2{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}
.arriba2-foto2{
    margin-top: 150px;
}
.abajo{
    display: flex;
    justify-content: space-around;
}
.arriba p{
    font-size: 26px;
    line-height: 1.5;
    margin-top: 20px;
}
button{
    background-color: #000000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 20px;
}
h1{
    font-size: 56px;
}
.abajo p{
    font-size: 26px;
    text-align: start;
    margin-top: 10px;
    color: #919191d2;
}